* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 1000px) {

    
    }
body {
margin-left:auto;
box-align: top;
image-rendering: :auto;
margin-right:auto;
image:fill;
display: inline;
float: :absolute;
position: relative;
image:auto;
}

#buttons{

align-content: left;
position:left;



}
#gifs-appear-here{
image-rendering: auto;
width: 80%;
height: 5%;
}