* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 1000px) {
    
    }
body {
margin-left:auto;
image-rendering: :auto;
margin-right:auto;
position: relative;
image:fill;
display: inline;


}